{% extends 'blog/base2.html' %}

{% block content %}

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 5px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 10;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Consulta Cep</h1>
    <p>Saiba o nome pelo cep</p>
  </div>
</div>


<!--começa os dados da pagina  -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form action="{% url 'cep' %}" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        
        <button class="btn btn-lg btn-primary btn-default" type="submit">Submeter</button>
      </form>
    </div>  
  </div>
  <br>

  
  
  <div class="row">
    <div class="col-sm-8">
      <div class="table-responsive"> 
            <table class="table table-bordered table-hover table-striped tablesorter"> 
                <thead> 
                    <tr> 
                        
                        <th class=""> CEP<i class="icon-sort"></i></th>
                        <th class=""> Rua <i class="icon-sort"></i></th> 
                        <th class=""> Bairro <i class="icon-sort"></i></th> 
                        <th class=""> Cidade<i class="icon-sort"></i></th>
                        <th class=""> UF<i class="icon-sort"></i></th> 
                        
                       
                    </tr> 
                </thead> 
                
                <tbody>
                    <tr>
                        <td>{{ cep_data.cep }}</td>
                        <td>{{ cep_data.logradouro }}</td>
                        <td>{{ cep_data.bairro }}</td>
                        <td>{{ cep_data.localidade }}</td>
                        <td>{{ cep_data.uf }}</td>
                                          
                    </tr>                       
                </tbody>
                
            </table>
        </div> 
      </div>         
    </div>
    

  
    















  
</div><br>
<!--final dos dados da página-->

<footer class="container-fluid text-center">
  <p>Fique Atualizado</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>




{% endblock %}
