{% extends 'blog/base2.html' %}


{% block content %}
 

<div class="container text-center">
    <form class="form-signin" id="login_form" method="post" action="{% url 'profile' %}">
    {% csrf_token %}

    <br>

    <input type="text" name="user" class="form-control" placeholder="Github User Name, ex: makoreactor" value="" required autofocus>
    <br>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Get Data</button>
        
    </form>
    
    
</div>


<h1 class="text-center"> Github User Data </h1> 
    
    <div class="table-responsive"> 
        <table class="table table-bordered table-hover table-striped tablesorter"> 
            <thead> 
                <tr class=""> 
                    <th class=""> Username <i class="icon-sort"></i></th> 
                    <th class=""> Blog <i class="icon-sort"></i></th> 
                    <th class=""> Public Repos <i class="icon-sort"></i></th> 
                    <th class=""> Public Gists <i class="icon-sort"></i></th> 
                    <th class=""> Email <i class="icon-sort"></i></th> 
                    <th class=""> Followers <i class="icon-sort"></i></th> 
                    <th class=""> Following <i class="icon-sort"></i></th> 
                </tr> 
            </thead> 
            {% if req %}
            <tbody>
                <tr>
                    <td>{{ req.name }}</td>
                    <td>{{ req.blog }}</td>
                    <td>{{ req.public_repos }}</td>
                    <td>{{ req.public_gists }}</td>
                    <td>{{ req.email }}</td>
                    <td>{{ req.followers }}</td>
                    <td>{{ req.following }}</td>
                </tr>                       
            </tbody>
            {% endif %}
        </table>
    </div>        
    
    {% endblock %}

