{% extends 'blog/base2.html' %}
<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Àpenas mais um blog, feito em Django.">
    <title>Git Data</title>
</head>
<body>
{% block content %}
<h1 class="text-center"> Github User Data </h1> 
    <div class="col-lg-12"> 
        <div class="table-responsive"> 
            <table class="table table-bordered table-hover table-striped tablesorter"> 
                <thead> 
                    <tr> 
                        <th class="header"> Username <i class="icon-sort"></i></th> 
                        <th class="header"> Blog <i class="icon-sort"></i></th> 
                        <th class="header"> Public Repos <i class="icon-sort"></i></th> 
                        <th class="header"> Public Gists <i class="icon-sort"></i></th> 
                        <th class="header"> Email <i class="icon-sort"></i></th> 
                        <th class="header"> Followers <i class="icon-sort"></i></th> 
                        <th class="header"> Following <i class="icon-sort"></i></th> 
                    </tr> 
                </thead> 

                <tbody>
                    <tr>
                        <td>{{ req.name }}</td>
                        <td>{{ req.blog }}  </td>
                        <td>{{ req.public_repos }}</td>
                        <td>{{ req.public_gists }}</td>
                        <td>{{ req.email }}</td>
                        <td>{{ req.followers }}</td>
                        <td>{{ req.following }}</td>
                          
                    </tr>               
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
</body>
</html>
