{% extends 'blog/base2.html' %}
{% block content %}

<h1 class="content-subhead">Posts Recentes</h1>

{% for post in posts %}

<section class="post">
    <header class="post-header">
        <!--<img width="48" height="48" alt="Douglas&#x27;s avatar" class="post-avatar" src="https://lh3.googleusercontent.com/WZcwyp8K6eZ1hLH_yNO8uG3FUID52GAqaGYDrpwNNFCnDKvK4L_b2lakiaNUFGr1nQhSpKTWnNoIY-vKL8h4Kq2i3fNjp7VpF8hdRuQL-rJK4J9WC-cEMycgWNbgvCGf_w3Mkw"> -->
        <img width="48" height="48" alt="Douglas&#x27;s avatar" class="post-avatar" src="https://lh3.googleusercontent.com/WZcwyp8K6eZ1hLH_yNO8uG3FUID52GAqaGYDrpwNNFCnDKvK4L_b2lakiaNUFGr1nQhSpKTWnNoIY-vKL8h4Kq2i3fNjp7VpF8hdRuQL-rJK4J9WC-cEMycgWNbgvCGf_w3Mkw">

        <h2 class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

        <p class="post-meta">
            By <a href="{% url 'index' %}" class="post-author">{{ post.author }}</a> Publicado em {{ post.published_date }}
        </p>
    </header>

    <div class="post-description">
        <p class="text-justify">{{ post.text|truncatechars:400 }}</p>
    </div>

</section>
{% endfor %}


{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
