{% extends 'blog/base2.html' %}
{% load static %}


{% block content %}

<h1 class="content-subhead">Rascunhos</h1>
{% for post in posts %}

<section class="post">
    <header class="post-header">
        
        <h2 class="post-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

        <p class="post-meta">
            By <a href="#" class="post-author">{{ post.author }}</a> Criado em {{ post.created_date }}
        </p>
    </header>

    <div class="post-description">
        <p class="text-justify">{{ post.text|truncatechars:400 }}</p>
    </div>
</section>
{% endfor %}
{% endblock %}



