{% block content %}
{% for post in posts %}
<div class="post">                            
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
            <p>published: {{ post.published_date }}</p>
        </div>
        <p class="text-justify">{{ post.text|truncatechars:400 }}</p>
    </div>
{% endfor %}
{% endblock %}

<div>
    {% block side %}
    {% for post in posts %}
         <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
    {% endfor %}
    {% endblock %}
</div>

{% extends 'blog/base2.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}  
        <div class="date">  
                <p>{{ post.published_date }} </p> 
        </div>                      
           
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}

        {% if user.is_authenticated %}
                <a class="post-category post-category-pure" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p class="text-justify">{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}

{% extends 'blog/base2.html' %}

{% block content %}
    

    {% for post in posts %}
        <div class="post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
    {% endfor %}
{% endblock %}


{% extends "blog/base2.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}